@charset "UTF-8";
.section-header {
  margin-bottom: 41px;
  text-align: center;
}
.section-header .title {
  font-size: 30px;
  color: #4e4e4e;
  font-weight: bold;
  line-height: 54px;
}
.section-header .section-detail {
  font-weight: bold;
  font-size: 18px;
  max-width: 419px;
  margin: 0 auto;
  width: 100%;
  color: #808080;
}

.btn-primary {
  color: #fff;
  cursor: pointer;
  background-color: #3357CC;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: background-color;
  transition: all 0.3s;
}
.btn-primary:hover {
  background-color: #808080;
}

.btn-Secondary {
  cursor: pointer;
  background: #808080;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: background-color;
  transition: all 0.3s;
}
.btn-Secondary:hover {
  background-color: #808080;
}

.btn-prop {
  border: none;
  font-size: 14px;
  font-family: "Open Sans";
  outline: none;
  cursor: pointer;
}

.border-white {
  border: 1px solid #fff;
}

/* 
Ace Responsive Menu Plugin
Version: 1.0
Author: Samson Onna
E-mail: samson3d@gmail.com
Website: www.webthemez.com
----------------------------------------*/
/* Import Fonts
----------------------------------------*/
/* Ace Responsive Menu
----------------------------------------*/
a {
  text-shadow: none;
  color: #0d638f;
}

ul {
  margin: 0px;
  padding: 0px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  font-family: "Roboto", sans-serif;
  /* border-bottom: 3px solid #FD5025; */
}

.menu .menu-item {
  list-style: none;
}

.menu .menu-item .sub-menu {
  display: none;
}

.menu > .menu-item {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
  float: left;
}

.menu .menu-item a {
  color: #c0c0c0;
}

.menu > .menu-item > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 18px 20px 18px 12px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #c0c0c0;
}

.menu .menu-item a i {
  padding-right: 5px;
  color: #FF5737;
}

.menu > .menu-item > a i {
  font-size: 16px;
  text-shadow: none;
  color: #FF5737;
}

.menu .menu-item ul.sub-menu .menu-item a i {
  padding-right: 10px;
}

.menu .menu-item.menu-active > a {
  background: #272727;
  color: #fff;
}

.menu .menu-item .menu-active {
  position: relative;
}

.menu .menu-item.menu-item-has-children > a:after {
  margin-left: 15px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: " ❯";
  font-weight: 300;
  text-shadow: none;
  width: 10px;
  display: inline-block;
  transform: rotate(90deg);
}

/* .menu > .menu-item > a > .arrow:before {  
    margin-left: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: " \276F";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
	transform: rotate(90deg);
} */
.menu .menu-item ul.sub-menu .menu-item > a > .arrow:before {
  content: "" !important;
}

.menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0;
  position: absolute;
  z-index: 999;
}

.menu .menu-item ul.sub-menu {
  background: #333;
}

.menu .menu-item ul.sub-menu > .menu-item {
  width: 185px;
}

.menu .menu-item ul.sub-menu .menu-item a {
  display: block;
  margin: 0px 0px;
  padding: 12px 20px 12px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  background: none;
}

.menu > .menu-item > ul.sub-menu > .menu-item {
  position: relative;
}

.menu > .menu-item > ul.sub-menu > .menu-item ul.sub-menu {
  position: absolute;
  left: 185px;
  top: 0px;
  display: none;
  list-style: none;
}

.menu > .menu-item > ul.sub-menu > .menu-item ul.sub-menu > .menu-item ul.sub-menu {
  position: absolute;
  left: 185px;
  top: 0px;
  display: none;
  list-style: none;
}

.menu > .menu-item > ul.sub-menu .menu-item > a > .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 0px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "";
  font-weight: 300;
  text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
  display: none;
  float: left;
  width: 100%;
  background: #333;
}

.menu-toggle h3 {
  float: left;
  color: #FFF;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 16px;
}

.menu-toggle .icon-bar {
  display: block !important;
  width: 18px;
  height: 2px;
  background-color: #F5F5F5 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin: 3px;
}

.menu-toggle .icon-bar:hover {
  background-color: #F5F5F5 !important;
}

.menu-toggle #menu-btn {
  float: right;
  background: #202020;
  border: 1px solid #0C0C0C;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.hide-menu {
  display: none;
}

/* Accordion Menu Styles
----------------------------------------*/
ul[data-menu-style=accordion] {
  width: 250px;
}

ul[data-menu-style=accordion] > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
  float: none !important;
}

ul[data-menu-style=accordion] > li:first-child {
  border-top: 2px solid #FD5025;
}

ul[data-menu-style=accordion] li ul.sub-menu > li {
  width: 100%;
}

ul[data-menu-style=accordion] > li > a > .arrow:before {
  float: right;
  content: "";
}

ul[data-menu-style=accordion] li.menu-active > a > .arrow:before {
  content: "" !important;
}

ul[data-menu-style=accordion] > li > ul.sub-menu {
  position: static;
}

ul[data-menu-style=accordion] > li > a i {
  padding-right: 10px;
  color: #FF5737;
}

ul[data-menu-style=accordion] > li > ul.sub-menu > li ul.sub-menu {
  position: static;
}

ul[data-menu-style=accordion] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
  position: static;
}

ul[data-menu-style=accordion] > li {
  border-bottom: 1px solid #242424;
}

ul[data-menu-style=accordion] li a:hover {
  background: #272727 !important;
}

ul[data-menu-style=accordion] ul.sub-menu .menu-item.menu-active > a > .arrow:before {
  content: "" !important;
}

/* Vertical Menu Styles
----------------------------------------*/
ul[data-menu-style=vertical] {
  width: 200px;
}

ul[data-menu-style=vertical] > li {
  float: none;
}

ul[data-menu-style=vertical] > li:first-child {
  border-top: 2px solid #FD5025;
}

ul[data-menu-style=vertical] li ul.sub-menu > li {
  width: 100%;
}

ul[data-menu-style=vertical] > li > a > .arrow:before {
  float: right;
  content: "";
}

ul[data-menu-style=vertical] > li.menu-active {
  position: relative;
}

ul[data-menu-style=vertical] > li > ul.sub-menu {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
}

ul[data-menu-style=vertical] > li > a i {
  padding-right: 10px;
  color: #FF5737;
}

ul[data-menu-style=vertical] > li > ul.sub-menu > li ul.sub-menu {
  position: absolute;
  width: 200px;
  left: 200px;
}

ul[data-menu-style=vertical] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
  position: absolute;
  width: 200px;
  left: 200px;
}

ul[data-menu-style=vertical] > li {
  border-bottom: 1px solid #242424;
}

ul[data-menu-style=vertical] li a:hover {
  background: #272727 !important;
}

/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/
@media screen and (max-width: 768px) {
  .demo {
    width: 96%;
    padding: 2%;
  }

  ul[data-menu-style=vertical], ul[data-menu-style=accordion],
ul[data-menu-style=vertical] .menu-item ul.sub-menu {
    width: 100% !important;
  }

  .menu {
    float: left;
    width: 100%;
  }

  .menu > .menu-item {
    border-bottom: 1px solid #242424;
    float: none;
  }

  .menu .menu-item a:hover {
    background: #272727 !important;
  }

  .menu > .menu-item:first-child {
    border-top: 2px solid #FD5025;
  }

  .menu > .menu-item > a i {
    padding-right: 10px;
    color: #FF5737;
  }

  .menu .menu-item.menu-item-has-children > a:after {
    float: right;
    content: " ❯";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .menu-item.menu-active > a > .arrow:before {
    content: " ❯";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .menu .menu-item ul.sub-menu > .menu-item {
    width: 100%;
  }

  .menu .menu-item ul.sub-menu .menu-item ul.sub-menu .menu-item a {
    padding-left: 30px;
  }

  .menu .menu-item ul.sub-menu .menu-item ul.sub-menu .menu-item ul.sub-menu .menu-item a {
    padding-left: 50px;
  }

  .menu > .menu-item > ul.sub-menu {
    position: static;
  }

  .menu > .menu-item > ul.sub-menu > .menu-item ul.sub-menu {
    position: static;
  }

  .menu > .menu-item > ul.sub-menu > .menu-item ul.sub-menu > .menu-item ul.sub-menu {
    position: static;
  }

  .menu .menu-item ul.sub-menu .menu-item.menu-active > a > .arrow:before {
    content: " ❯";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
    transform: rotate(90deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.theme-development .font-page-wrapper .front-page-top {
  width: 100%;
  position: relative;
}
.theme-development .font-page-wrapper .front-page-top:before {
  content: "";
  position: absolute;
  background: url(../image/top-svg.svg);
  width: 100%;
  height: 180.26px;
  z-index: -1;
}
.theme-development .font-page-wrapper .front-page-top .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.theme-development .font-page-wrapper .front-page-top .container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .logo {
  max-width: 220px;
  height: auto;
}
.theme-development .font-page-wrapper .front-page-top .container .header .logo .site-identity .custom-logo-link img {
  width: 100%;
  height: auto;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .theme-nav-bar {
  margin: 0 58px 0 20px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget {
  position: relative;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget label {
  position: relative;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget label:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(33%);
  right: -30px;
  font-size: 20px;
  color: #D2D2D2;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget label span {
  display: none;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form {
  height: 40px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form label {
  width: 100%;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form label .search-field {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form .search-submit {
  border: none;
  color: transparent;
  float: right;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form:hover > label .search-field {
  width: 240px;
  padding: 0 6px;
  color: #000;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form:hover > .search-submit {
  background: #fff;
  color: #2f3640;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 620px) {
  .theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .search-widget .search-form:hover > .search-field {
    width: 150px;
    padding: 0 6px;
  }
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .user-account {
  margin-left: 17px;
}
.theme-development .font-page-wrapper .front-page-top .container .header .theme-navigation-bar .nav-account-section .user-account p {
  font-size: 14px;
  color: white;
}
.theme-development .font-page-wrapper .front-page-top .container .main {
  margin-top: 34px;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item {
  flex: 50%;
  max-width: 50%;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .brand-title h1 {
  font-size: 48px;
  color: #4e4e4e;
  line-height: 54px;
  text-transform: uppercase;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .brand-description {
  margin-top: 10px;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .brand-description p {
  color: #808080;
  font-size: 18px;
  font-weight: bold;
  padding-right: 53px;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .button-item {
  margin-top: 30px;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .button-item .own-prop {
  padding: 16px 25px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 5px;
}
.theme-development .font-page-wrapper .front-page-top .container .main .main-container .item .item-img img {
  max-width: 630px;
  width: 100%;
}
.theme-development .font-page-wrapper .front-page-top .container .logos .logo-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((100%/6)), 1fr));
  place-items: center;
}
.theme-development .font-page-wrapper .front-page-top .container .logos .logo-collection .logo-item {
  padding: 10px;
  position: relative;
}
.theme-development .font-page-wrapper .front-page-top .container .logos .logo-collection .logo-item img {
  width: 100%;
  filter: saturate(3%);
}
.theme-development .font-page-wrapper .section-collection {
  background: #FBFBFB;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us {
  width: 100%;
  padding-top: 80px;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container .box .grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container .box .grid-box .grid-item {
  border: 1px solid #E9E9E9;
  text-align: center;
  padding: 68px 0;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container .box .grid-box .grid-item .icon span i {
  font-size: 60px;
  color: #3357CC;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container .box .grid-box .grid-item .description {
  margin: 32.8px;
}
.theme-development .font-page-wrapper .section-collection .why-choose-us .section-wrapper .container .box .grid-box .grid-item .description p {
  font-size: 16px;
  font-weight: bold;
  color: #707070;
  line-height: 22px;
}

/*# sourceMappingURL=style.css.map */
